
/* ------------- For conference list & talks list (on conference node)------------- */

.view.view-talks ul,
.view.view-conferences ul{
    padding: 0;
}

.view.view-talks ul li,
.view-conferences ul li{
    margin: 2px 0;
    background: rgba(0,0,0,0.2);
    list-style-type: none;
}
.view.view-talks ul li:first,
.view.view-talks ul li:last,
.view-conferences ul li:last,
.view-conferences ul li:first{
    margin: 0;

}

.view.view-talks ul li a,
.view-conferences ul li a{
    display: block;
    padding: 5px 20px;
}

.view.view-talks ul li:hover,
.view-conferences ul li:hover{
    border-bottom: 2px solid #FF6633;
}

/* ------------- For talk node------------- */

h2.title{
	border-bottom: 2px solid #FF6633;
	padding-left: 15px;
	margin: 0;    
}
.field.field-name-field-talk-description{
	padding: 10px;
}

.field.field-name-field-conference{
	padding-left: 10px;
}

.field.field-name-field-speaker{
	padding-left: 10px;
}

.field.field-name-slideshow{
	padding-left: 10px;
}

.field.field-name-create-question-form{
	padding: 10px;
}
.add-question-link {
	padding: 5px;
	margin: 10px 0;
	background: #FF6633;
	color: #fff;
	border:0;
}


.add-question-link:hover{
	padding: 5px;
	background: #fff;
	color: #000;
	border:0;
}
#add-question-form textarea{
	width: 50%;
}
#add-question-form .grippie{
	display: none;
}

/* For talk node's questions list */

.node-question- .view-mode-promoted_questions.field-name-author {
    font-size: 2em;
}

.node-question- .view-mode-regular_questions.field-name-author {
    font-size: 1.25em;
}

.node-question- {
    padding-bottom: 4px;
    margin: 0 0 5px;
}
.node-question-.article.view-mode-promoted_questions {
    background: rgba(102,102,102,0.5);
}

.node-question-.article.view-mode-regular_questions {
    background: rgba(0,0,0,0.25);
}


.node-question- .group-left{
    width: 60px;
    margin-right: 15px;
    padding: 2px;
}
.node-question-.view-mode-promoted_questions .links {
    text-align: center;
    width: 50px;
    padding: 2px;
    font-size: 1.75em;
}

.node-question-.view-mode-regular_questions .links {
    text-align: center;
    width: 50px;
    padding: 2px;
    font-size: 1.5em;
}

.node-question- .field-name-post-date{
    font-size: 0.75em;
}


/* For the Questions slideshow */

.node-question-.view-mode-question_slideshow  {
    border: 0;
    padding: 10px;
    background: none;
}


.node-question-.view-mode-question_slideshow .field-name-author {
    border: 0;
    font-size: 2em;
}


.node-question-.view-mode-question_slideshow .field-name-field-question {
    border: 0;
    font-size: 4em;
    background: rgba(0,0,0,0.2);
    padding: 10px;
}

/* ------------- For conference node ------------- */

.node-conference .field{
	padding: 10px;
	margin: 0;
}

/* ------------- For user profile ------------- */

.user-profile {
	margin: 0;
	padding: 20px;
}

.user-profile .group-left {
	width: 160px;
}

.user-profile .field-name-field-profile-picture img {
	width: 150px;
	align: left;
}


