
/* ------------- Base Overrides ------------- */ 

html { 
	background: url('images/background.png') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	

}

#breadcrumb {
	display: none;
}

#page, #page-login{
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.images/background.png', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.images/background.png', sizingMethod='scale')";
}


h1#page-title, h1.page-title{
    margin-top: 10px;
    background:rgba(0,0,0,0.2);
    padding: 10px;
}
h2.title{
    border-bottom: 2px solid #c60;
}

/*
 * Main content column wrapper
 */
#content-column {
	padding:0;
	background-color:rgba(255,255,255,0.05);
}

/* ------------- Region Overrides ------------- */ 

/*
 * Wraps all header elements - branding and .region-header
 */
 
.header-wrap {
	background: rgba(0,0,0,.25);
}

.header-wrap #header {
	margin: 0 auto;
	max-width: 900px;
	width: 100%;
}

#branding {
	margin-top: 0;
}


/* For the top navigation types */
/*#menu-bar ul li,*/
/*#block-system-user-menu ul li,*/
.nav li a,
.nav ul.menu li a
{
	display: inline; 
	list-style-type: none;
	padding: 0 5px;
	margin: 0 5px;
	text-align: center;
}
.nav li a:hover,
.nav ul.menu li a:hover 
{
	display: inline; 
	background-colour: #000000;
	list-style-type: none;
	padding: 0 5px;
	margin: 0 5px;
	text-align: center;
}


/* Make leaderboard list items & menu bar items seperated by a slash. */

.region-leaderboard ul li:after, #menu-bar ul li:after {
	content: " / ";
 }
.region-leaderboard ul li.last:after, #menu-bar ul li.last:after {
	content: "";
 }
.region-leaderboard ul li.last: ,, #menu-bar ul li.last: {
	content: " ";
 }

.nav .block {
    float: right;
 	 margin-bottom: 0;
}


/* ------------- Link Style Overrides ------------- */ 

a {
  text-decoration: none;	
}

a:link, 
a:visited {
	color: #C60;
}

a:active,
a.active, 
#tasks li a.active,
a.active-trail.active,
a:hover{
	color: #FFF;
}

#tasks a{
	color: #FFF;
	border: 0;
}

#tasks ul.primary, #tasks ul.secondary{
	border-bottom: 0;
}

#tasks a:link, #tasks a:visited{	
	background: #C60;
	border: 0;
	text-decoration: none;
}

#tasks a:hover {
	color: #C60;
	background: #fff;
}

/* ------------- LinkedIn Profile ------------- */ 
.linkedin-profile{
}

.linkedin-profile ul{
	margin-top: 0;
}


/* ------------- For questions list/ talk node------------- */

.node-question- .view-mode-promoted_questions.field-name-author {
    font-size: 2em;
}

.node-question- .view-mode-regular_questions.field-name-author {
    font-size: 1.25em;
}

.node-question- {
    padding-bottom: 4px;
    margin: 0 0 5px;
    border-bottom: 2px solid #c60;
    background: rgba(255,255,255,0.1);
}
.node-question-.article.view-mode-regular_questions {
    background: rgba(255,255,255,0.04);
}


.node-question- .group-left{
    width: 60px;
    margin-right: 15px;
    padding: 2px;
}
.node-question-.view-mode-promoted_questions .links {
    text-align: center;
    width: 50px;
    border: 3px solid white;
    padding: 2px;
    font-size: 1.75em;
}

.node-question-.view-mode-regular_questions .links {
    text-align: center;
    width: 50px;
    border: 3px solid white;
    padding: 2px;
    font-size: 1.25em;
}

/* For the Questions slideshow */

.node-question-.view-mode-question_slideshow  {
    border: 0;
    padding: 10px;
    background: none;
}


.node-question-.view-mode-question_slideshow .field-name-author {
    border: 0;
    font-size: 2em;
}


.node-question-.view-mode-question_slideshow .field-name-field-question {
    border: 0;
    font-size: 4em;
    background: rgba(0,0,0,0.2);
    padding: 10px;
}
/* ------------- For conference list------------- */

.view.view-conferences {
    padding: 10px 0;
}

.view.view-conferences ul li{
    background: rgba(255,255,255,0.05);
    list-style-type: none;
    margin: 10px 0;
    padding: 5px;
    border-bottom: 2px solid #C60;
}


/* ------------- For talk node------------- */

h1.talk-title{
    margin-top: 0;
    background:rgba(0,0,0,0.2);
    padding: 10px;
}

.view.view-talks {
    padding: 10px 0;
}

.view.view-talks ul li{
    background: rgba(255,255,255,0.05);
    list-style-type: none;
    margin: 10px 0;
    padding: 5px;
    border-bottom: 2px solid #C60;
}

.add-question-link {
	padding: 5px;
	margin: 20px 0;
	background: #C60;
	color: #fff;
	border:0;
}


.add-question-link:hover{
	padding: 5px;
	margin: 20px 0;
	background: #fff;
	color: #000;
	border:0;
}
