body{
	background: url('images/background.png');
	color: #FFFFFF;
	/*font-family: --insertfonthere--; */
	

}

/* =============================================================================
 *   Links
 * ========================================================================== */

a {
  text-decoration: none;
}

a:link, 
a:visited {
	color: #FFF;
}

a:active,
a.active {
	color: #C60;
}

a:hover {
	color: #C60;
}

